@model IEnumerable<WelcomeASP.Data.Entities.Faq>

@{
    ViewData["Title"] = "Index";
    ViewData["ParallaxTitle"] = "F.A.Q";
    ViewData["ParallaxText"] = "Information e.t.c";
}

<partial name="Asentus/Parallax" />


@foreach (var item in Model) {
<div>
    @Html.DisplayFor(modelItem => item.Question)
</div>
<div>
    @Html.DisplayFor(modelItem => item.Answer)
</div>
}

